.success {
  align-items: center;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 451px;
  padding: 33px 0;
  width: 536px;
}

.success-1 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 66px;
  text-align: center;
  width: 272px;
}

.rectangle-8 {
  height: 300px;
  margin-top: 16px;
  object-fit: cover;
  width: 300px;
}

